/* base rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.8;
  font-size: 15px;
}

/* heading fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif, sans-serif;
}

/* paragragh rules */
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 30px;
}

/* headers section */
#home {
  min-height: 100vh;
  width: 100%;
  background-image: url("../backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

#home h1 {
  font-weight: 500;
}

#home p {
  max-width: 550px;
  margin: auto;
  font-weight: 540;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  font-size: 12px;
  letter-spacing: 1px;
}

.logo-text {
  font-size: 22px;
  text-transform: uppercase;
  color: black;
}
#smh {
  margin-top: 50px;
}
.aboutus {
  margin-top: 10px;
  font-size: 20px;
  height: 20vh;
  line-height: 40px;
}

#services {
  min-height: 50vh;
  width: 100%;
  background-image: url("../backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

#services h1 {
  font-weight: 500;
}

#services p {
  color: #fff;
  max-width: 1050px;
  margin: auto;
  font-weight: 540;
  font-size: 20px;
}

#whatwedo {
  min-height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#head {
  display: block;
  text-align: center;
}
/* PORTFOLIO */

#portfolio{
  text-align: center;
}
.contain {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: visible;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 25px 40px;
  border: 3px solid white;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contain:hover .image {
  opacity: 1;
}

.contain:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ffffff00;
  color: white;
  font-size: 36px;
  font-weight: 900;
}
/* CONTACT */
.contactus {
  background-image: url("/assets/backgrounds/c_image.jpg");
  background-size: cover;
  height: 70vh;
  width: 100%;
  display: inline-block;
  align-items: center;
  color: #fff;
  border-color: #fff;
}
#contact {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-top: 80px;
}
.form-group {
  display: flex;
  justify-content: space-evenly;
  margin-right: 200px;
  margin-left: 200px;
  color: #fff;
}
#name {
  margin-left: -50px;
  text-emphasis-color: #fff;
}
#email {
  color: red;
}

#message {
  color: rgb(255, 255, 255);
  margin-left: 200px;
  background: transparent;
  height: 250px;
  width: 75%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 500px;
  top: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#btn-submit {
  border-radius: 30px;
  margin-left: 800px;
  background: #fff;
  background-color: rgba(255, 253, 253, 0.363);
  color: rgb(255, 246, 246);
}

.media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 440px;
}
#footer {
  text-align: center;
}
