/* base rules */
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.8;
    font-size: 15px;
}

/* heading fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Times New Roman", Times, serif, sans-serif;
}

/* paragragh rules */
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 30px;
}

/* headers section */
#home {
    min-height: 100vh;
    width: 100%;
    background-image: url("../backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
}

#home h1 {
    font-weight: 500;
}

#home p {
    max-width: 550px;
    margin: auto;
    font-weight: 540;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    font-size: 12px;
    letter-spacing: 1px;
}

.logo-text {
    font-size: 22px;
    text-transform: uppercase;
    color: black;
}

.navbar .nav-link.active {
    color: #e93b81;
}

#services {
    min-height: 50vh;
    width: 100%;
    background-image: url("../backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

#services h1 {
    font-weight: 500;
}

#services p {
    color: #fff;
    max-width: 1050px;
    margin: auto;
    font-weight: 540;
    font-size: 20px;
}

#whatwedo{
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
}
#head{
    display: block;
    text-align: center;
}
.portfolio{
    margin-left: 50px;
    margin-right: 50px;
}
#portfolio-1{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

/* 
.contactus{
    background-image: url(assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-size: 100% 100%;
    color:white;
}
#contact{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.form-row{
    display: flex;
    justify-content: space-evenly;
    margin-right:200px;
    margin-left:200px;
    color:white;
}
#name{
    margin-left:-50px;
    background: transparent;
}
#email{
    background:transparent;
}
.button{
    background: transparent;
    color:white;
    margin-left: 200px;
    margin-top:-10px;
}
#message{
    margin-left:200px;
    background: transparent;
    color:white;
    height:50%;
    width:75%
}
.socials{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 450px;
    margin-right: 450px;
}
#cp{
    text-align:center;
}
#cpy{
    text-align: center;
}



.dd , .dp , .pm {
    display: none;
} */ */



